
.card-noticia {
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    justify-content: center;
    background-color: #fcfcfc;
    border: 0.2vw solid #000;
    padding: 5vw;
    margin: 2vw;
}

.card-noticia h2 {
    font-family: 'Playfair Display', serif;
    font-size: 3vw;
}

.card-noticia img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0 0 0 2vw;
}